.header {
    height: 100vh;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;

}

.header__menu-item a {
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.header__banner {
    display: flex;
    align-items: center;
    position: absolute;
}

.header__banner-h {
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0 0 10px;
}

.header__banner-p {
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 0 0 25px;
}

.header__banner-btn {
    font-family: var(--GT);
    padding: 20px 40px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #FC0A7E;
    border-radius: 3px;
}
